body,h1,h2,h3,h4,h5,h6,div,header,nav,section,footer,ul,li,ol,dl,dt,dd,form,table,tr,td,img,a,span,a,em,i,strong,b,label,input,select,option,textarea,p{margin: 0;padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{ color:#666; text-decoration: none;}
a:hover{color:#f00;}
input[type="button"],input[type="submit"],input[type="file"],button{cursor: pointer;
-webkit-appearance:none;}
html{ font-size: 625%;/*6.25*16=相当于100px;rem的换算参考大小（rem单位以html为参考）*/}
.clearfix:before,.clearfix:after{content:" "; display: table;}
.clearfix:after{clear:both;}
body{  max-width: 640px;min-width: 320px; font-size:0.24rem;/*初始的字体大小*/ font-family:"微软雅黑"; width:100%;margin:0 auto;}


